.image-blockquote-item blockquote {
  border-left: none;
  margin: 0;
  font-size: 16px;
}
.image-blockquote-item blockquote img {
  margin-bottom: 10px;
}
.image-blockquote-item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
}
