
#stacks_out_29394_page0 {
	width: 95%;
}





.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin:0 auto;
}


#stacks_in_33244_page0 {
	padding: 0px 0px 20px 0px;
}




.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin:0 auto;
}


#stacks_in_33245_page0 {
	padding: 0px 0px 20px 0px;
}




.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  margin:0 auto;
}


#stacks_in_33246_page0 {
	padding: 0px 0px 20px 0px;
}
